@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* colors */
    --pale-yellow: #fce697;
    --pale-orange: #f0d5c9;
    --main-orange: #ff8e5e;
    --acid-orange: #ff4d51;
    --main-yellow: #fccb00;
    --main-green: #00ae96;
    --white: #fefefe;
    --light-grey: #f5f5f5;
    --black: #282828;
    /* font-size */
    --xl: 18px;
    --md: 12px;
    --sm: 10px;
    /* font-weight */
    --bold: 600;
    --medium: 400;
    /* box-shadow */
    --bs-normal: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    --bs-hover: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
    --bs-new: 0 15px 50px rgba(255, 77, 80, 0.9);
}

section {
    position: relative;
	min-height: 100vh;
	background: var(--pale-orange);
	display: flex;
	padding: 20px;
	justify-content: center;
    align-items: center;
    transition: 0.5s;
}

section .container {
    position: relative;
	width: 800px;
	height: 500px;
	background: #fff;
    box-shadow: var(--bs-new);
    overflow: hidden; 
}

section .container .user {
    position: absolute; 
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;

}

section .container .user .imgBox {
    position:relative;
    width:50%;
    height:100%;
    background-color: #fff;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}

section .container .user .imgBox img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

section .container .user .listBox {
    position:relative;
    width:50%;
    height:100%;
    background-color: var(--white);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:40px;
    padding-top: 50px;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}

section .container .user .listBox .group{
    position:inherit; 
    width:100%;
    height:100%;
}

section .container .user .listBox h3 {
    font-size: var(--xl);
    font-weight: var(--bold);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: var(--acid-orange);
}

section .container .user .listBox h2 {
    font-size: var(--md);
    font-weight: var(--bold);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    width: 100%;
    color: var(--acid-orange);
    display: inline;
    margin-top: 10px;
}

/* ADDED TO CART INFO */

section .container .user .listBox p {
    visibility: hidden;
    font-weight: var(--medium);
    font-size: var(--sm);
    color: var(--acid-orange);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: right;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

 /* END SECTION / SUM */

 #end-section {
    position: absolute;
    top: 330px;
    width: 100%;
}

section .container .user .listBox .sum {
    margin-bottom: 10px;
}

section .container .user .listBox span {
    text-align: right;
    display: inline;
    padding-left: 10px;
}

section .container .user .listBox label {
    font-weight: var(--medium);
    font-size: var(--md);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: grey;
}

section .container .user .listBox input{
    width:100%;
    font-weight: var(--medium);
    background-color: none;
    padding:10px;
    color:#333;
    border: 1px solid var(--acid-orange);
    outline:none;
    font-size:14px;
    margin: 10px 0;
    letter-spacing: 2px;
}

section .container .user .listBox select{
    width:100%;
    font-weight: var(--medium);
    background-color: none;
    padding:10px;
    color:#333;
    border: 1px solid var(--acid-orange);
    outline:none;
    font-size:14px;
    margin:8px 0;
    letter-spacing: 2px;
    border-color: var(--acid-orange);
}

section .container .user .listBox button{
    width:100%;
    background-color: var(--acid-orange);
    color:#fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    border: 1px solid var(--acid-orange);
    padding: 12px 10px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 8px;
}

section .container .user .listBox button:hover{
    background-color: white;
    color:var(--acid-orange);
    border: 1px solid var(--acid-orange);
}

section .container .user .listBox a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform:uppercase;
    text-decoration: none;
    padding: 12px 10px;
    border-bottom: 1px solid var(--acid-orange);
    border-top: 1px solid var(--acid-orange);
    color: var(--acid-orange);
    display: block;
    width: 100%;
    text-align: center;
}

section .container .user .listBox a:hover {
    border-bottom: 4px solid var(--acid-orange);
}

/*   TABLE   */

section .container .user .listBox table, th, td {
    border: 1px solid var(--acid-orange);
    border-collapse: collapse;
    padding: 10px;
    font-weight: var(--medium);
    font-size: var(--sm);
    color: var(--acid-orange);
    text-transform: uppercase;
    letter-spacing: 2px;
    
}


section .container .user .listBox table thead th { 
    /* background-color: var(--pale-orange); */
    font-weight: 800;

}

section .container .user .listBox table th {
    font-weight: var(--medium);
    font-size: var(--sm);
    color: var(--acid-orange);
    text-transform: uppercase;
    letter-spacing: 2px;
}

section .container .user .listBox table {
    font-weight: var(--medium);
    font-size: var(--sm);
    color: var(--black);
    width: 100%;
}

/*   SCROLL  */

#scroll {
    overflow: auto;
    height: 186px;
    width: 100%;
    position: absolute;
}

 #scroll::-webkit-scrollbar-track
 {
 
 border: 1px solid var(--acid-orange);
 background-color: var(--white);
 border-left: none;
 }
 
 #scroll::-webkit-scrollbar
 {
 width: 5px;
 background-color: var(--white);
 }
 
 #scroll::-webkit-scrollbar-thumb
 {
 background-color: var(--acid-orange);
 }
 
 /* EVENTS */

 section .container .shoppingCart{
    pointer-events: none;
}
section .container.active .shoppingCart{
    pointer-events: initial;
}

section .container .shoppingCart .listBox{
    left: 100%;
}
section .container.active .shoppingCart .listBox{
    left: 0;
}
section .container .shoppingCart .imgBox{
    left: -100%;
}
section .container.active .shoppingCart .imgBox{
    left: 0;
}

section .container .shoppingList .listBox{
    left:0;
}
section .container.active .shoppingList .listBox{
    left: -100%;
}
section .container .shoppingList .imgBox{
    left: 0;
}
section .container.active .shoppingList .imgBox{
    left: 100%;
}

/* QUERYS */

@media(max-width:991px){
    section .container {
        max-width: 400px;
    }
    section .container .imgBox {
        display:none;
    }
    section .container .user .listBox {
        width:100%;
    }
}